.text1{
    background-color:grey;
}
.nav1{
    backround-color:red;
}
.nav2{
    backround-color:red;
}
.text2{
    backround=color:grey;
}
.nav3{
    background-color:red;
}
.text3{
    backround-color:grey;
}
